

data_directory = '/var/lib/postgresql/{{ postgres_version }}/main'
hba_file = '/etc/postgresql/{{ postgres_version }}/main/pg_hba.conf'
ident_file = '/etc/postgresql/{{ postgres_version }}/main/pg_ident.conf'
external_pid_file = '/var/run/postgresql/{{ postgres_version }}-main.pid'
listen_addresses = '*'
port = 5432
max_connections = 100

